nav.stickynav {
  bottom: 60px;
  height: auto;
  min-height: auto;
}

.rst-versions {
  height: 60px;
  background: #f9f9f9;
  border: 0;
  border-right: 2px solid #ddd;
}

.rst-versions .rst-current-version {
  background: none;
  padding: 20px 25px;
}

.rst-versions a {
  background: #59c4bc;
  padding: 4px 10px;
}

.rst-versions a:hover {
  background: #464646;
}

.wy-nav-side {
  background: #f9f9f9;
  border-right: 2px solid #ddd;
}
.wy-side-nav-search {
  background: #f9f9f9 url("images/logo-bw.png") no-repeat center 25px;
  padding-top: 100px;
  padding-bottom: 15px;
  color: #464646;
}

.wy-side-nav-search a, .wy-side-nav-search a:visited {
  color: #464646;
  font-size: 125%;
  margin-bottom: 25px;
}

.wy-side-nav-search a:hover {
  color: #c74d5a;
}

.wy-side-nav-search input[type=text] {
  border-color: #ddd;
}

.wy-side-nav-search input[type=text]:focus {
  border-color: #59c4bc;
}

.wy-menu-vertical {
  position: absolute;
  top: 200px;
  bottom: 0;
  width: 100%;
  overflow-y: auto;
}

.wy-menu-vertical ul {
  margin-bottom: 0;
}

.wy-menu-vertical a, .wy-menu-vertical li ul li a {
  color: #c74d5a;
}

.wy-menu-vertical span {
  color: #464646;
}

.wy-menu-vertical a:hover {
  background: #eee;
}

.wy-menu-vertical li.current {
  background: #f0f0f0;
}

.wy-menu-vertical li.current a {
  border: 0;
  color: #c74d5a;
}

.wy-menu-vertical li.current a:hover {
  background: #eee;
}

.wy-menu-vertical li.current a.current {
  background: none;
  border: 0;
}

.wy-menu-vertical a:visited {
  color: #999!important;
}

/* other syling */
body {
  color: #464646;
}

h2 {
  border-top: 1px solid #eee;
  padding: 5px 0;
  margin: 2em 0 1em;
}


h3, h4, h5, h6 {
  color: #464646;
  font-weight: normal;
  margin: 1.5em 0 0.75em;
}

h3 {
  color: #59c4bc;
}

code, .rst-content tt {
  color: #556471;
  padding: 2px 4px;
}

.section {
  margin-bottom: 4em;
}

footer {
  font-size: 10px;
}

footer div {
  font-size: 13px;
}

footer hr {
  margin: 2em 0 0.5em;
}

/* links */
a {
  color: #c74d5a;
}

a:visited {
  color: #999;
}

a:hover {
  color: #151009;
}
/* Buttons and links */

.btn-neutral, .btn-neutral:visited, .btn-neutral:active {
  background: #c74d5a!important;
  padding: 6px 10px;
  color: #fff!important;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

.btn-neutral:hover {
  background: #464646;
}

.btn-neutral span.icon:first-child { margin-right: 5px; }
.btn-neutral span.icon:last-child { margin-left: 5px; }

@media screen and (max-width: 768px) {
  .wy-nav-side.shift {
    bottom: 0;
  }
}
